<% @unauthorized_inf.each do |aed_inf| %>
  <div><%= aed_inf['created_at'].strftime('%Y/%m/%d') %><%= aed_inf['facility'] %></div>
  <%= link_to "編集", edit_aed_information_management_path(aed_inf['id']) %>
<% end %>