<div id="map"></div>
<div class="menu-trigger" href=""><span></span><span></span><span></span></div>
<div class="menu-trigger-back"></div>
<nav>
  <ul>
    <li>ホーム</li>
    <li>AEDMAPについて</li>
    <li>投稿</li>
  </ul>
</nav>
<div class="overlay"></div>
<%= link_to  %>

