<div class="admin_header">
  <%= link_to '投稿情報一覧', aed_information_managements_path,class: 'admin_header_list btn btn-primary' %>
  <%= link_to 'CSVインポート', csv_import_aed_information_managements_path, class: 'admin_header_import btn btn-primary' %>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'admin_header_logout btn btn-primary' %>
</div>