/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
    padding: 0;
    margin: 0;
}

#map{
    height: 750px;
    width: 750px;
    z-index: 1;
}

.leaflet-popup-tip{
    display: none;
}

.leaflet-popup-content-wrapper{
    width: 600px;
    font-size: 24px;
    font-weight: bold;
}

.place_detail{
    position: absolute;
    top: -5px;
    left: 205px;
}

.margin0{
    margin: 0;
}

.inline-block{
    display: inline-block;
}

.place_detail_set{
    margin-left: 10px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place_detail_address{
    margin-left: 10px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place_detail_facility{
    margin-left: 10px;
    width: 540px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marker-cluster > div > span{
    font-size: 20px;
    font-weight: bold;
}

.all_sentence{
    background-color: #c7cfff;
    font-size: 30px;
    font-weight: bold;
    white-space: normal;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    right: -75px;
    bottom: -110px;
    border: solid black 3px;
}

.all_sentence_address{
    background-color: #c7cfff;
    font-size: 30px;
    font-weight: bold;
    white-space: normal;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    right: -90px;
    bottom: -35px;
    border: solid black 3px;
}

.all_sentence_set{
    background-color: #c7cfff;
    font-size: 30px;
    font-weight: bold;
    white-space: normal;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    right: -90px;
    bottom: 37px;
    border: solid black 3px;
}

.tel-title{
    width: 100px;
}

.create-title{
    width: 80px;
}

.tel-num{
    width: 230px;
    text-align: right;
}

.create-at{
    text-align: right;
    width: 250px;
}

/*クラスター用*/
.leaflet-container a.leaflet-popup-close-button{
    right: 7px!important;
    font: 40px/32px Tahoma, Verdana, sans-serif!important;
    width: 28px!important;
    height: 24px!important;
}

/*ハンバーガーメニュー用*/
.overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
}
.overlay.open{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.menu-trigger-back{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 18px;
    left: 693px;
    z-index: 99;
    background-color: orange;
    border-radius: 10px;
}
.menu-trigger{
    display: inline-block;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 700px;
    z-index: 100;
}
.menu-trigger span{
   display: inline-block;
   box-sizing: border-box;
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: #000;
   transition: all .5s;
}
.menu-trigger.active span{
    background-color: #fff;
}
.menu-trigger span:nth-of-type(1){
    top: 0;
}
.menu-trigger.active span:nth-of-type(1){
    transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2){
    top: 12px;
}
.menu-trigger.active span:nth-of-type(2){
    opacity: 0;
}
.menu-trigger span:nth-of-type(3){
    bottom: 0;
}
.menu-trigger.active span:nth-of-type(3){
    transform: translateY(-12px) rotate(45deg);
}
nav{
    width: 250px;
    height: 100%;
    padding-top: 100px;
    background-color: rgb(16, 69, 153);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(250px);
    transition: all .5s;
}
nav.open{
    transform: translateZ(0);
}
nav li{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    list-style: none;
}

#video{
    object-fit: fill;
    width: 600px;
    height: 480px;
}

.image_field{
    width: 600px;
    height: 480px;
}